<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

        <div class="jumbotron">
        <div>
            <a class="btn btn-primary", href="/driver?id=<%= driver_id %>"> Refresh </a>
        </div>
            <h3>Driver App, driver_id: <%= driver_id %></h3>
            <table style="width:100%">
              <tr>
                <th>Waiting</th>
                <th>Ongoing</th>
                <th>Completed</th>
              </tr>
              <% for(var i=0; i < result.length; i++) { %>
               <tr>
                 <td>
                    <% if(result[i].request_status == 0){ %>
                      <div>Request ID: <%= result[i].request_id %></div>
                      <div>Customer ID: <%= result[i].customer_id %></div>
                      <span id="<%= result[i].request_id %>"></span>
                      <button type="button" onclick="selectBtnClicked('<%= driver_id %>', '<%= result[i].request_id %>')" class="btn btn-primary">Select</button>
                    <% } %>
                </td>
                 <td>
                   <% if(result[i].request_status == 1){ %>
                     <div>Request ID: <%= result[i].request_id %></div>
                     <div>Customer ID: <%= result[i].customer_id %></div>
                   <% } %>
                 </td>
                 <td>
                   <% if(result[i].request_status == 2){ %>
                     <div>Request ID: <%= result[i].request_id %></div>
                     <div>Customer ID: <%= result[i].customer_id %></div>
                     <p>Completed</p>
                   <% } %>
                 </td>
               </tr>
            <% } %>
            </table>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
        var selectBtnClicked = function(driverId, reqId){
            var url = "/api/driver/select/requestid="+reqId;
            var body = {
                "driverid" : driverId
            };
            postCall(url, body, reqId);
            return false;
        };
        var postCall = function(url, body, reqId) {
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (http.readyState == XMLHttpRequest.DONE) {
                    if (http.status == 200) {
                        //if want to do something
                        alert('Driver ride successfully selected.');
                    }
                    else if (http.status == 422) {
                        alert('Driver is not allowed to take ride');
                    }
                    else {
                        alert('something else other than 200 was returned');
                    }
                    document.getElementById(reqId).innerHTML = http.responseText;
                }
            };

            http.open("POST", url, true);
            http.setRequestHeader("Content-type", "application/json");
            http.send(JSON.stringify(body));
        }
    </script>

</body>
</html>
